<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/abd0e28a-6f3b-41cd-8c9d-4d890eabca03/resourceGroups/qualification-app/providers/Microsoft.ContainerRegistry/registries/qualificationcr</ResourceId>
    <ResourceName>qualificationcr</ResourceName>
    <ResourceGroup>qualification-app</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://qualificationcr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cc06bd8f-eb88-4af8-9e1c-827b497cc31e</ProjectGuid>
  </PropertyGroup>
</Project>